{% extends "layouts/layout.twig" %}
{% block content %}
<div class="grid-container leader-3">
  <main class="column-12 pre-6 post-6 trailer-2">
    <h2 class="text-center trailer-2">{{category | capitalize}}</h2>
    <p>{content??}</p>
  </main>

  {% for post in posts %}
    <section class="column-10 pre-2 trailer-1 phone-trailer-3">
      <div class="column-6">
        <a href="{{post.slug}}">
          <img src="{{post.image}}" alt="{{post.title}}">
        </a>
      </div>
      <div class="column-4">
        <h5 class="body-face phone-leader-0">
          <a href="{{post.slug}}">
            {{post.title}}
          </a>
        </h5>
        <p class="trailer-0">By
          {for author in authors}
            <a href="{author.site}">{author.name}</a>
          {endfor}
        </p>
      </div>
    </section>
  {% endfor %}
</div>
{% endblock %}